.chat-main__message-list__message{data: {message: {id: message.id} }}
  .chat-main__message-list__message__upper-info
    .chat-main__message-list__message__upper-info__name
      = message.user.name
    .chat-main__message-list__message__upper-info__date
      = message.created_at.strftime("%Y/%m/%d(%a) %H:%M")
  .chat-main__message-list__message__lower-info
    - if message.content.present?
      %p.chat-main__message-list__message__lower-info__content
        = message.content
    = image_tag message.image, class: 'chat-main__message-list__message__lower-info__image' if message.image.present?