.chat-side {
  width: 300px;
  color: #ffffff;
  float: left;  

  &__user {
    background-color: #253141;
    height: 100px;
    width: 100%;
    font-size: 16px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    &__top-items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__name {
        font-weight: bold;
      }
      &__icons {
        display: flex;
        list-style: none;
      }
    }
  }

  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px;
    overflow: scroll;
    &__group, a {
      margin-bottom: 40px;
      text-decoration: none;
      &__group-name {
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 5px;
      }
      &__latest-message {
        font-size: 11px;
        color: #ffffff;
      }
    }
  }
}

.icon {
  color: white;
  padding-left: 5px;
}

* {
  box-sizing: border-box;
}

* ::-webkit-scrollbar {
  display: none;
}